.rules-page {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4vh;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rules-container {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  padding: 0 2vw;
}
h1 {
  font-size: 3em;
}

.rules {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding: 1vh 0;

  h4 {
    width: auto;
    display: inline;
    white-space: nowrap;
    font-size: 1.2em;
    line-height: 2em;
    text-decoration: underline;
  }
  p {
    font-size: 1em;
    font-style: italic;
    line-height: 2em;
    padding-left: 1em;
  }
}

/* Mobile 375px - 425px*/
@media (max-width: 425px) {
  .rules-page {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 4vh;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6vh;
    padding: 3vh 2vw;
  }

  .rules {
    height: 5vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      width: 60vw;
      font-size: 1em;
      line-height: 1.1em;
    }
    p {
      font-size: 0.8em;
      line-height: 1.5em;
      padding-left: 1.4em;
    }
  }
}
