.blue-card {
  width: 60vw;
  max-height: 72vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
  background-color: var(--color-primary);
  border-radius: 20px;

  h3 {
    max-width: 40vh;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7em;
    color: var(--color-secondary);
  }
}
