.button-container {
  display: flex;
  justify-content: center;

  button {
    margin: 1rem;
    border: none;
    font-family: var(--font-family);
    font-size: 1.5em;
    cursor: pointer;
  }
  .dark {
    width: 200px;
    height: 80px;
    border-radius: 15px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  .light {
    width: 40vw;
    height: 8vh;
    font-weight: var(--large-font-weight);
    border-radius: 15px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }
  .hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
}

/* Mobile 375px - 768px*/
@media (max-width: 768px) {
  .button-container {
    button {
      font-size: 1.1em;
    }
    .light {
      width: 50vw;
      height: 6vh;
    }
  }
}
