header {
    max-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5vh 5vw;
}
#logo-pages {
    max-height: 5vh;
}
#return {
    max-height: 5vh;
}