@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-family: 'Libre-Caslon-Text', serif;
  line-height: 1.5;
  --min-font-weight: 400;
  --large-font-weight: 700;
  font-size: 16px;

  color-scheme: light dark;
  --color-primary: #06185e;
  --color-secondary: #eef2ff;
  --color-background: #eef2ff;
  --color-text: var(--color-primary);

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --sapcing-large: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
}

body {
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-background);
}

main {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family);
  font-weight: var(--large-font-weight);
  margin-bottom: var(--spacing-small);
}

h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.7em;
}

a {
  cursor: pointer;
}

#pages-logo {
  width: 50px;
}

input[type='number'] {
  -moz-appearance: textfield; /* Pour Firefox */
  -webkit-appearance: none; /* Pour Chrome, Safari, Edge et Opera */
  appearance: none; /* Propriété standard */
}

/* Pour Chrome, Safari, Edge et Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Mobile 375px - 768px*/
@media (max-width: 768px) {
  main {
    height: 82vh;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.3em;
  }
}
