@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-family: 'Libre-Caslon-Text', serif;
  line-height: 1.5;
  --min-font-weight: 400;
  --large-font-weight: 700;
  font-size: 16px;

  color-scheme: light dark;
  --color-primary:#06185E;
  --color-secondary: #EEF2FF;
  --color-background: #EEF2FF;
  --color-text:var(--color-primary);

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --sapcing-large: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur totale */
}

body {
  max-width: 1250px;
  height: 100vh;
  margin: auto;
  font-family: var(--font-family);
  color: var(--color-primary);
  background-color: var(--color-background);
}


main {
    max-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5vh;
    
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family);
  font-weight: var(--large-font-weight);
  margin-bottom: var(--spacing-small);
}

a {
  cursor: pointer;
}

#pages-logo {
  width: 50px;
}